<template>
  <el-container class="container">
    <el-col :span="8">
    <el-card class="authorization-block">
      <img src="@/assets/sibdev-logo.svg" alt="logo" class="authorization-block__logo">
      <h3 class="authorization-block__heading">Вход</h3>

      <el-form
        :model="user"
        :rules="rules"
        ref="user"
        class="authorization-form"
        label-position="left"
        hide-required-asterisk
      >
        <el-row>
        <el-col :span="18" :offset="3">
        <el-form-item class="authorization-form__wrapper" prop="username">
          <span class="field-label" slot="label">Логин</span>
          <base-input v-model="user.username"></base-input>
        </el-form-item>
        <el-form-item class="authorization-form__wrapper" prop="password">
          <span class="field-label" slot="label">Пароль</span>
          <base-input
            show-password
            type="password"
            v-model="user.password"
          ></base-input>
        </el-form-item>
        </el-col>
        </el-row>
        <el-row>
        <el-col :span="10" :offset="7">
        <el-form-item>
            <el-button
              class="authorization-form__submit-button"
              type="primary"
              @click="handleLogin"
            >Войти</el-button
            >
        </el-form-item>
        </el-col>
        </el-row>
      </el-form>
    </el-card>
    </el-col>
  </el-container>
</template>

<script>

import BaseInput from '@/components/BaseInput'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Authorization',
  components: { BaseInput },
  data () {
    return {
      user: {
        username: '',
        password: ''
      },
      rules: {
        username: [
          {
            required: true,
            message: 'Введите логин!',
            trigger: 'blur'
          },
          {
            min: 1,
            max: 20,
            message: 'Длина логина должна быть не более 20 символов',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Введите пароль',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  computed: {
    ...mapState({
      loggedIn: state => state.authorizationModule.status.loggedIn
    })
  },
  created () {
    if (this.loggedIn) {
      this.$router.push({
        name: 'Search'
      })
    }
  },
  methods: {
    ...mapActions('authorizationModule', [
      'login'
    ]),
    submitForm (item) {
      let isValid = false
      this.$refs[item].validate(valid => {
        if (valid) {
          isValid = true
        } else {
          return false
        }
      })
      return isValid
    },
    async handleLogin () {
      if (this.submitForm('user')) {
        await this.login(this.user)
        if (this.loggedIn) {
          await this.$router.push({ name: 'Search' })
        }
      }
    }
  }

}
</script>

<style scoped>
.nav-menu__item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1040px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.authorization-block {
  padding: 20px 0 40px;
  border: solid 1px rgba(39, 39, 39, 0.1);
  border-radius: 5px;
  background-color: #fff;
}
.authorization-form__login-wrapper{
  margin: 0;
}
.field-label {
  font-family: Roboto, sans-serif;
  color: rgba(23, 23, 25, 0.3);
  font-size: 16px;
  font-weight: 400;
}
.authorization-form__wrapper :nth-child(1){
  line-height: 22px;
}

.authorization-form__submit-button {
  width: 100%;
  border-radius: 5px;
  background-color: #1390e5;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.authorization-block__heading {
  margin-top: 32px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.div-block-3 {
  width: 334px;
  height: 50px;
  background-color: #b46565;
}

.text-field {
  width: 100%;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(23, 23, 25, 0.2);
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  color: #272727;
  font-size: 20px;
  line-height: 24px;
}

.text-field:focus {
  border-color: #1390e5;
  background-color: rgba(197, 228, 249, 0.3);
}

.authorization-form__password-wrapper {
  margin-bottom: 40px;
}

</style>
