<template>
  <el-main class="container">
    <h2 class="heading">Избранное</h2>
    <div class="search-requests">
      <div v-for="request in requests"
           :key="request.name"
           class="search-requests__request-item">
        <h3 class="search-requests__video-title">{{request.requestText}}</h3>
        <div class="search-requests__buttons-block">
          <el-button class="search-requests__action-button search-requests__action-button_color_green" type="text"
                     @click="performRequest(request)">Выполнить</el-button>
          <el-button class="search-requests__action-button search-requests__action-button_color_blue" type="text"
                     @click="showModal(request)">Изменить</el-button>
          <el-button class="search-requests__action-button search-requests__action-button_color_red"
                     @click="deleteRequest(requests.indexOf(request))" type="text">Удалить</el-button>
        </div>
      </div>
    </div>
    <modal :requestData="modalRequestData" v-if="openModal" :dialogVisible.sync="openModal"></modal>
  </el-main>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import Modal from '@/components/Modal'

export default {
  name: 'Favourites',
  components: { Modal },
  computed: {
    ...mapState({
      requests: state => state.requestsModule.requests,
      loading: state => state.generalModule.loading
    })
  },
  data () {
    return {
      openModal: false,
      modalRequestData: {}
    }
  },
  methods: {
    ...mapActions('videosModule', [
      'search'
    ]),
    ...mapMutations('requestsModule', [
      'deleteRequest'
    ]),
    async performRequest (request) {
      await this.search(request)
      await this.$router.push({
        name: 'Search'
      })
    },
    showModal (request) {
      this.modalRequestData = request
      this.openModal = true
    }
  }

}
</script>

<style scoped>
.heading{
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 40px;
}
.search-requests__buttons-block{
  visibility: hidden;
}
.search-requests__action-button{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-left: 30px;
}
.search-requests__action-button:hover{
  transform: scale(1.05);
}
.search-requests__action-button_color_red{
  color: #FF0000;
}
.search-requests__action-button_color_blue{
  color: #1390E5;
}
.search-requests__action-button_color_green{
  color: green;
}
.container{
  padding: 40px 0 0 ;
  max-width: 1040px;
  margin: 0 auto;
}
.search-requests__video-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.search-requests__request-item{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #F1F1F1;
  cursor: pointer;
  padding: 0 20px;
  align-items: center;
}
.search-requests__request-item:hover{
  background: #F1F1F1;
  background-blend-mode: multiply;
}
.search-requests__request-item:hover .search-requests__buttons-block{
  visibility: visible;
}
</style>
