<template>
  <el-main class="container">

    <el-row type="flex" justify="center">
      <el-col :span="wasInput ? 24 : 16" style="transition: 1s;">
        <div class="search-block" :class="searchPosition.searchBlockTop">
          <h2 class="search-block__heading"  :class="searchPosition.searchBlockHeadingTop">Поиск видео</h2>
          <search-input :requestWasSaved="requestWasSaved" :searchText="searchRequestText" v-model="request.requestText"
                        @clickSaveRequest="openModal=true"  @input="handleSearchRequest">
          </search-input>
        </div>
      </el-col>
    </el-row>
    <transition name="fade">
      <el-row class="content-block" v-if="wasInput">
        <el-row class="filter-panel" type="flex" justify="start">
          <h3 class="filter-panel__request">Видео по запросу <b><q>{{searchRequestText}}</q></b></h3>
          <h3 class="filter-panel__found-amount">{{totalResults}}</h3>
          <el-switch
            class="filter-panel__view-switcher"
            v-model="display"
            active-color="gray"
            inactive-color="gray"
            active-icon-class="el-icon-date"
            inactive-icon-class="el-icon-date"
            active-value="list"
            inactive-value="grid"
          ></el-switch>
        </el-row>

        <h3 class="noVideo" v-if="!totalResults">Видео не найдено</h3>

        <el-row v-else class="search-results">
          <el-col :span="display==='list' ? 16: 24">
            <div :class="searchResultsDisplay">
              <video-item v-for="video in videos" :key="video.id.videoId" :video="video" :display="display"></video-item>
            </div>
          </el-col>
        </el-row>
      </el-row>
    </transition>
    <modal :requestData="searchRequestText" v-if="openModal" :dialogVisible.sync="openModal"></modal>
  </el-main>
</template>

<script>
import SearchInput from '@/components/SearchInput'
import VideoItem from '@/components/VideoItem'
import Modal from '@/components/Modal'
import { mapState, mapGetters, mapActions } from 'vuex'
export default {
  name: 'Search',
  components: { Modal, VideoItem, SearchInput },
  data () {
    return {
      request: {
        requestText: '',
        name: '',
        sortBy: 'viewCount',
        maximumAmount: 12
      },
      openModal: false,
      display: 'list'
    }
  },
  methods: {
    ...mapActions('videosModule', [
      'search'
    ]),
    async handleSearchRequest () {
      // if (this.request.requestText) {
      await this.search(this.request)
    }
    // }
  },
  computed: {
    wasInput () {
      return !!this.searchRequestText
    },
    ...mapState({
      requests: state => state.requestsModule.requests,
      loading: state => state.generalModule.loading,
      searchRequestText: state => state.videosModule.requestText,
      videos: state => state.videosModule.requestedVideos,
      totalResults: state => state.videosModule.totalResults,
      prevPageToken: state => state.videosModule.prevPageToken,
      nextPageToken: state => state.videosModule.nextPageToken
    }),
    ...mapGetters('requestsModule', [
      'isRequestInList'
    ]),
    searchPosition () {
      return {
        searchBlockTop: {
          'search-block_position_top': this.wasInput
        },
        searchBlockHeadingTop: {
          'search-block__heading_position_top': this.wasInput
        }
      }
    },
    searchResultsDisplay () {
      return {
        'search-results_display_list': this.display === 'list',
        'search-results_display_grid': this.display === 'grid'
      }
    },
    requestWasSaved () {
      return this.isRequestInList(this.searchRequestText, 'requestText')
    }
  }
}
</script>

<style scoped>
.noVideo{
  margin-top: 100px;
}
.search-results{
  padding-top: 20px;
}
.content-block{
  padding-top: 40px;
}
.filter-panel__view-switcher{
  margin-left: auto;
  cursor: pointer;
}
.filter-panel__request{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.filter-panel__found-amount{
  margin-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(23, 23, 25, 0.3);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.search-block__heading{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 40px;
  transition: 1s;
}
.search-block__heading_position_top{
  margin-bottom: 12px;
}
.container{
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 0;
}
.search-block{
  text-align: center;
  padding-top: 220px;
  transition: 1s;
}
.search-block_position_top{
  text-align: left;
  padding-top: 40px
}

.search-results_display_list{
  display: flex;
  flex-direction: column;
}
.search-results_display_grid{
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

}
</style>
