<template>
  <el-input
    class="input"
    v-bind="$attrs"
    :class="type"
    :type="type"
    :value="value"
    @input="$emit('input', $event)"
  ></el-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: ['value', 'type']
}
</script>

<style scoped>
.number {
  min-width: 100px;
  width: 10vw;
  float: left;
}
</style>
