<template>
  <el-select v-model="sortBy" placeholder="Без сортировки" @change="$emit('change', $event)">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value"
      >
    </el-option>
  </el-select>
</template>

<script>
export default {
  model: {
    prop: 'sortBy',
    event: 'change'
  },
  props: ['sortBy'],
  data () {
    return {
      options: [{
        value: 'date',
        label: 'дате'
      }, {
        value: 'rating',
        label: 'рейтингу'
      }, {
        value: 'relevance',
        label: 'релевантности'
      }, {
        value: 'title',
        label: 'названию'
      }, {
        value: 'videoCount',
        label: 'количеству загрузок'
      }, {
        value: 'viewCount',
        label: 'количеству просмотров'
      }]
    }
  }
}
</script>

<style scoped>

</style>
