<template>
  <el-dialog
    :title="forSaveRequest ? 'Сохранить запрос' : 'Изменить запрос'"
    :visible.sync="dialogVisible"
    :before-close="handleClose"
    width="35%"
    center
    class="modal">
    <el-form
      :model="request"
      :rules="rules"
      ref="request"
      class="save-request-form"
      label-position="top"
    >
      <el-row type="flex" justify="center">
        <el-col :span="22">
          <el-form-item class="save-request-form__item" prop="requestText" label="Запрос">
            <!--            <span class="field-label" slot="label">Запрос</span>-->
            <base-input :disabled="forSaveRequest" v-model="request.requestText"></base-input>
          </el-form-item>
          <el-form-item class="save-request-form__item" prop="name" required label="Название">
            <!--            <span class="field-label" slot="label">Название</span>-->
            <base-input v-model="request.name"></base-input>
          </el-form-item>
          <el-form-item class="save-request-form__item" prop="sortBy" label="Сортировать по">
            <!--            <span class="field-label" slot="label">Сортировать по</span>-->
            <base-select v-model="request.sortBy"></base-select>
          </el-form-item>

          <el-form-item class="save-request-form__item" prop="maximumAmount" label="Максимальное количество">
            <!--            <span class="field-label" slot="label">Максимальное количество</span>-->
            <el-slider
              v-model="request.maximumAmount"
              show-input
              :show-input-controls = false
              :max="50"
            >
            </el-slider>
          </el-form-item>

        </el-col>
      </el-row>
      <el-row type="flex" justify="space-between" :gutter="10">
        <el-col :span="12">
<!--          <el-form-item>-->
            <el-button style="width: 100%" class="save-request-form__submit-button"
                       @click="handleClose">Не {{forSaveRequest ? 'сохранять' : 'изменять'}}</el-button>
<!--          </el-form-item>-->
        </el-col>
        <el-col :span="12">
<!--          <el-form-item>-->
            <el-button  style="width: 100%" class="save-request-form__submit-button"
                        type="primary" @click="handleConfirm()">{{forSaveRequest ? 'Сохранить' : 'Изменить'}}</el-button>
<!--          </el-form-item>-->
        </el-col>
      </el-row>
    </el-form>
  </el-dialog>
</template>

<script>
import BaseInput from '@/components/BaseInput'
import BaseSelect from '@/components/BaseSelect'
import { mapState, mapGetters, mapMutations } from 'vuex'

export default {
  components: { BaseInput, BaseSelect },
  props: ['dialogVisible', 'requestData'],
  computed: {
    ...mapState({
      requests: state => state.requestsModule.requests
    }),
    ...mapGetters('requestsModule', [
      'requestIndex', 'isRequestInList'
    ])
  },
  data () {
    const validateRequestText = (rule, value, callback) => {
      if (this.isRequestInList(value, 'requestText') && value !== this.requestData.requestText) {
        callback(
          new Error('Такой запрос уже сохранён!')
        )
      } else callback()
    }
    const validateName = (rule, value, callback) => {
      if (!value) {
        callback(new Error('Введите название запроса!'))
      } else {
        if (this.isRequestInList(value, 'name') && value !== this.requestData.name) {
          callback(
            new Error('Такое название уже есть!')
          )
        } else callback()
      }
    }

    return {
      forSaveRequest: this.$route.name === 'Search',
      request: {
        requestText: this.requestData.requestText || this.requestData,
        name: this.requestData.name || '',
        sortBy: this.requestData.sortBy || 'viewCount',
        maximumAmount: this.requestData.maximumAmount || 12
      },
      rules: {
        requestText: [
          {
            trigger: 'blur',
            validator: validateRequestText
          }
        ],
        name: [
          {
            trigger: 'blur',
            validator: validateName
          },
          {
            max: 40,
            message: 'Длина названия должна быть не более 40 символов',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    ...mapMutations('requestsModule', [
      'saveRequest', 'updateRequest'
    ]),
    submitForm (item) {
      let isValid = false
      this.$refs[item].validate(valid => {
        if (valid) {
          isValid = true
        } else {
          return false
        }
      })
      return isValid
    },
    handleClose () {
      this.$emit('update:dialogVisible', false)
    },
    handleConfirm () {
      if (this.submitForm('request')) {
        if (this.forSaveRequest) {
          this.saveRequest(this.request)
          this.handleClose()
        } else {
          this.updateRequest({ newRequestData: this.request, targetRequestId: this.requestIndex(this.requestData, 'name') })
          this.handleClose()
        }
      }
    }
  }
}
</script>

<style scoped>
.modal{
  padding: 36px 40px;
}
</style>
