<template>
  <el-header  class="header-body" >
    <el-menu
      class="menu"
      mode="horizontal"
      background-color="#ffffff"
      text-color="#1390E5"
      active-text-color="#1390E5"
      :default-active="activeIndex"
    >
      <img src="@/assets/sibdev-logo.svg" width="48" alt="logo" class="menu__logo">
      <el-menu-item
        class="menu__item"
        index="/search"
        @click="$router.push({ name: 'Search' })"
      >Поиск</el-menu-item
      >
      <el-menu-item
        class="menu__item"
        index="/favourites"
        @click="$router.push({ name: 'Favourites' })"
      >Избранное</el-menu-item
      >
      <el-menu-item
        class="menu__item"
        index="/authorization"
        @click="loginOut"
      >
      <span class="menu__span"
      >Вы вошли как {{ this.username }} |
     </span>
        Выйти</el-menu-item
      >
    </el-menu>
  </el-header>
</template>
<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'NavBar',
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      username: state => state.authorizationModule.user
    }),
    activeIndex () {
      return this.$route.path
    }
  },
  methods: {
    ...mapActions('authorizationModule', [
      'logout'
    ]),
    async loginOut () {
      await this.logout()
      await this.$router.push({ name: 'Authorization' })
    }
  }
}
</script>

<style scoped>
a{
  outline: none;
}
.header-body{
  background-color: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 200;
}
.menu {
  display: flex;
  max-width: 1040px;
  margin: 0 auto;
}
.menu :last-child {
  margin-left: auto;
}
.menu__logo{
  outline: none;
  margin-right: 20px;
}
.menu__item{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.menu__span {
  display: none;
}
.menu__item:hover .menu__span{
  display: inline;
}
</style>
