<template>
  <el-input class="search-input" placeholder="Что хотите посмотреть?" v-model="currentInput">
    <svg slot="suffix" class="search-input__icon" :class="{'search-input__icon_active':requestWasSaved}"
         fill="none" viewBox="0 0 24 24" width="24" v-if="currentInput&&searchText===currentInput" @click="saveRequest">
      <use xlink:href='@/assets/heart.svg#heart'/>
    </svg>
    <el-button class="search-input__button" slot="append" @click="$emit('input', currentInput)">Найти</el-button>
  </el-input>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex'

export default {
  name: 'SearchInput',
  props: ['searchText', 'requestWasSaved'],
  watch: {
    'searchText' (val) {
      this.currentInput = val
    }
  },
  data () {
    return {
      currentInput: this.searchText
    }
  },
  methods: {
    ...mapMutations('requestsModule', [
      'deleteRequest'
    ]),
    saveRequest () {
      if (this.requestWasSaved) {
        this.deleteRequest(this.requestIndex(this.searchText, 'requestText'))
      } else this.$emit('clickSaveRequest')
    }
  },
  computed: {
    ...mapState({
      requests: state => state.requestsModule.requests
    }),
    ...mapGetters('requestsModule', [
      'requestIndex'
    ])
  }
}
</script>

<style scoped>
.search-input :first-child{
  height: 52px;
}
.search-input :first-child:focus{
  background: rgba(197, 228, 249, 0.3);
}

.search-input{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.search-input__button{
  background-color: #1390E5 !important;
  color: #ffffff !important;
  width: 150px;
}
.search-input__button:hover{
  color: #e0dede !important;
}
.search-input__button:active{
  transition: .5s;
  background-color: red !important;
}
.search-input__icon{
  margin-right: 10px;
  cursor: pointer;
}
.search-input__icon_active{
  fill: #C5E4F9;
}
</style>
