<template>
<div class="video-card" :class="videoCardDisplay.card">
    <a :href="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">
      <img :class="videoCardDisplay.video" :src="video.snippet.thumbnails.medium.url" alt="YouTube thumbnail">
    </a>
  <div>
<h3 class="video-card__text video-card__text_weight_bold" :class="videoCardDisplay.text">{{ video.snippet.title}}</h3>
  <p class="video-card__text video-card__text_color_gray" :class="videoCardDisplay.text">{{ video.snippet.description }}<br> 786 тыс. просмотров</p>
  </div>
</div>
</template>

<script>

export default {
  name: 'VideoItem',
  props: ['display', 'video'],
  computed: {
    videoCardDisplay () {
      return {
        card: {
          'video-card_display_for-list': this.display === 'list',
          'video-card_display_for-grid': this.display === 'grid'
        },
        text: {
          'video-card__text_display_for-list': this.display === 'list',
          'video-card__text_display_for-grid': this.display === 'grid'
        },
        video: {
          'video-card__video_display_for-list': this.display === 'list',
          'video-card__video_display_for-grid': this.display === 'grid'
        }
      }
    }
  }
}
</script>

<style scoped>
.video-card_display_for-list{
  margin-bottom: 32px;
}
.video-card_display_for-grid{
  flex-direction: column;
}
.video-card__video_display_for-list{
  max-width: 257px;
}
.video-card__video_display_for-grid{
  height:138px;
}
.video-card{
  display: flex;
  cursor: pointer;
}
.video-card.video-card_display_for-grid:hover{
  box-shadow: 0 -4px 4px -3px rgba(0,0,0,0.5);
}
.video-card.video-card_display_for-list:hover{
  box-shadow: -6px 0 4px -4px rgba(0,0,0,0.5);
}
.video-card__text_display_for-list{
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}
.video-card__text_display_for-list.video-card__text_weight_bold{
  margin-top: 0;
}
.video-card__text_display_for-grid{
  font-size: 14px;
  line-height: 16px;
}
.video-card__text{
  color: black;
  font-family: Roboto;
  font-weight: 400;
  text-align: left;
  margin-top: 8px;
}
.video-card__text_weight_bold{
  font-weight: 500;
}
.video-card__text_color_gray{
  color: rgba(23, 23, 25, 0.3);
}
</style>
