<template>
  <div id="app">
    <nav-bar v-if="loggedIn"></nav-bar>
    <router-view/>
  </div>
</template>
<style>
#app {
  /*comment*/
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  background-color: #fafafa;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
</style>
<script>
import NavBar from '@/components/NavBar'
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      loggedIn: state => state.authorizationModule.status.loggedIn
    })
  },
  // для сохранения данных при перезагрузке
  beforeCreate () {
    if (localStorage.getItem('user')) {
      const userId = JSON.parse(localStorage.getItem('user')).id
      this.$store.commit('initialiseStore', userId)
    }
  },
  components: { NavBar }
}
</script>
